body {
  background-color: #e5e7e6;
}

.bg-dark {
  background-color: #051a28;
}

.bg-block1 {
  background-color: #0c380c;
}

.bg-block2 {
  background-color: #bf211e;
}

.text-accent-color {
  color: #d7cf07;
}


.header {
  background-color: #bf211e;
  color: #d7cf07;
}

.url-logo, .git-logo {
  background-color: #e5e7e6;
  border-color: #d7cf07;
}

.thumb-text {
  color: #d7cf07;
}

.footer {
  background-color: #051a28;
}
i:hover {
  color: #d7cf07;
}