body {
  background-color: #e5e7e6;
}

.bg-dark {
  background-color: #062128;
}

.bg-blue {
  background-color: #58641d;
}

.bg-teal {
  background-color: #165855;
}

.text-pink {
  background-color: #d7cf07;
}


.header {
  background-color: #165855;
}

.url-logo, .git-logo {
  background-color: #e5e7e6;
  border-color: #d7cf07;
}

.thumb-text {
  color: #d7cf07;
}

.footer {
  background-color: #062128;
}