body {
  background-color: #e5e7e6;
}

.bg-dark {
  background-color: #062128;
}

.bg-block1 {
  background-color: #58641d;
}

.bg-block2 {
  background-color: #165855;
}

.text-accent-color {
  color: #d7cf07;
}


.header {
  background-color: #165855;
  color: #d7cf07;
}

.url-logo, .git-logo {
  background-color: #e5e7e6;
  border-color: #d7cf07;
}

.thumb-text {
  color: #d7cf07;
}

.footer {
  background-color: #062128;
}

i:hover {
  color: #d7cf07;
}