/* 
colors:

header, dark: #00171F
footer, teal: #70A9A1
yellow text: #fffd98
faux-white: #cfd7c7
blue: #022f40

*/
body {
  background-color: #f6f7f5;
  font-family: 'Quattrocento', serif;
}
h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
  font-family: 'Cinzel', serif;
}

.main-grid {
  color: white;
  display: grid;
  grid-template-columns: 1fr 400px 400px 400px 1fr;
  grid-template-rows: repeat(5, 500px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "header header header header header"
    ". proj1 proj1 proj2 ."
    ". proj3 proj4 proj5 ."
    ". proj6 proj7 proj7 ."
    "footer footer footer footer footer";
}

.bg-dark {
  background-color: #00171f;

}

.bg-blue {
  background-color: #022f40;  
}

.text-yellow {
  color: #FFFD98;
}

.thumb-single {
  width: 400px;
  height: 500px;
}

.thumb-double {
  width: 820px;
  height: 500px;
  opacity: 1;
  transition: .5s;
}

.thumb-double:hover, .thumb-single:hover {
  opacity: .8;
}

.thumb-card-double-header {
  position: absolute;
  top: 150px;
  left: 200px;
  font-size: 200%;
  transition: .5s;
}

.thumb-card-single-header {
  position: absolute;
  top: 150px;
  left: 100px;
}



.header {
  grid-area: header;
  background-color: #00171F;
}

.celeb-thumb{
  grid-area: proj1;
  background-image: url('../images/celeb-thumb.png');
  position: relative;
}


.rpg-thumb {
  grid-area: proj4;
  background-color: #ffffff;
}

.word-game{
  grid-area: proj3;
  background-color: #ffffff;
}

.trivia-game {
  grid-area: proj5;
  background-color: #ffffff;
  
}

/* 
@keyframes thumbgrow {
  from {
    height: 300px;
    width: 400px;
  }
  to {
    height: 315px;
    width: 420px;
  }
} */
/* 
@keyframes thumbshrink {
  from {
    height: 315px;
    width: 420px;
  }
  to {
    height: 300px;
    width: 400px;
  }
} */