/* 
colors:

header, dark: #00171F
footer, teal: #70A9A1
yellow text: #fffd98
faux-white: #cfd7c7
blue: #022f40

*/
.bg-dark {
  background-color: #00171f;

}

.bg-block1 {
  background-color: #022f40;  
}

.bg-block2 {
  background-color: #70A9A1;
}


.text-accent-color {
  color: #ef6461;
}

.text-emph {
  font-weight: bold;
  font-size: 18px;
}

body {
  background-color: #f6f7f5;
  font-family: 'Quattrocento', serif;
}
h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
  font-family: 'Cinzel', serif;
}


i:hover {
  color: #ef6461;
}

.name-header {
  font-family: 'Cinzel', serif;
  font-size: 240%;  
  margin-left: 20px;
  margin-top: 50px;
}

.text-header {
  font-family: 'Quattrocento', serif;
  color: white;
  grid-column: 3 / 5;
  grid-row: 1 / 2;
  align-self: end;
}

.projects-box {
  transition: .5s
}

.head-link {
  font-family: 'Cinzel', serif;
  align-self: start;  
}

.head-link:hover {
  color: white!important;
}




.projects-link {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
}

.about-link {
  grid-column: 7 / 8;
  grid-row: 1 / 2;
}
.contact-link {
  grid-column: 8 / 9;
  grid-row: 1 / 2;
}

.active-link {
  text-decoration: underline;
}

.projects-grid, .about-grid, .contact-grid {
  color: white;
  display: grid;
  grid-template-columns: 1fr 210px 300px 300px 300px 70px 70px 70px 1fr;
  grid-template-rows: 250px 125px repeat(2, 400px) 150px 100px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "header header header header header header header header header"
    "header header header header header header header header header"
    "...... ...... proj1  proj1  proj2  ...... ...... ...... ......"
    "...... ...... proj3  proj4  proj5 ...... ...... ...... ......"
    ". . . . . . . . ."
    "footer footer footer footer footer footer footer footer footer";
}


.transparent {
  opacity: 0;
}


.hidden {
  display: none;
}

.thumb-single {
  width: 300px;
  height: 400px;
  transition: .5s;
}

.thumb-double {
  width: 620px;
  height: 400px;
  opacity: 1;
  transition: .5s;
}

.thumb-triple {
  width: 930px;
  height: 400px;
  transition: .5s;
}
.thumb-card-double-header {
  position: absolute;
  top: 150px;
  /* left: 110px; */
  font-size: 200%;
  width: 100%;
  text-align: center;
  transition: .5s;
}

.about-box .thumb-card-double-header {
  top: 50px;
}

.thumb-card-single-header {
  position: absolute;
  top: 150px;
  /* left: 50px; */
  transition: .5s;
  width: 100%;
  text-align: center;
  
}



.header {
  grid-area: header;
  background-color: #022f40;
  width: 100%;
  height: 75%;
  align-self: start;
  color: #ef6461;
}

.celeb-thumb{
  grid-area: proj1;
  background-image: url('../images/celeb-thumb.png');
  position: relative;
}

.cubs-thumb {
  grid-area: proj2;
  background-image: url('../images/cubs-thumb.png');
  position: relative;
}


.rpg-thumb {
  grid-area: proj4;
  position: relative;
  background-image: url('../images/rpg-thumb.png')
}

.word-thumb{
  grid-area: proj3;
  position: relative;
  background-image: url('../images/word-thumb.png')
}

.trivia-thumb {
  grid-area: proj5;
  position: relative;
  /* background-image: url('../images/trivia-thumb.png') */

}

.url-logo {
  width: 30.75px;
  height: 30.75px;
  opacity: 0;
  position: absolute;
  bottom: 275px;
  left: 41%;
  background-color: #f6f7f5;
  border: 2px solid #ef6461;
  border-radius: 10px;
  transition: .5s

}

.git-logo {
  width: 75px;
  height: 30.75px;
  opacity: 0;
  position: absolute;
  bottom: 275px;
  left: 51%;
  background-color: #f6f7f5;
  border: 2px solid #ef6461;
  border-radius: 10px;
  transition: .5s
}

.single .url-logo {
  left: 25%;
}

.single .git-logo {
  left: 55%;
}


.about-box {
  transition: .5s;
}

.natepic-box {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  position: relative;
}

.nate-pic {
  position: absolute;
  width: 250px;
  height: auto;
  top: 18px;
  left: 18.5px;
  border-radius: 5px;
  border: 7px solid #f6f7f5;
}

.natetext-box {
  grid-column: 4 / 6;
  grid-row: 3 / 4;
  position: relative;
}



.thumb-text {
  text-align: center;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 200px;
  color: #ef6461;
  opacity: 0;
  transition: .5s

}

.about-box .thumb-text {
  opacity: 1;
  top: 100px;
  color: white;
  line-height: 1.7em;
}

.thumb-text.p2 {
  top: 220px;
}

i.thumb-text {
  opacity: 1;
  color: white;
  font-size: 200%;
}

ul.thumb-text {
  text-align: left;
  left: 4%;
}

.about-box .thumb-card-single-header {
  top: 10%;
}

.about-box a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.cred-box {
  position: relative;
  grid-area: proj3;
}

.skills-box {
  position: relative;
  grid-area: proj4;
}

.interests-box {
  position: relative;
  grid-area: proj5;
}


.contact-box {
  transition: .5s;
}

.email-box {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  position: relative;

}

.linkedin-box {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  position: relative;

}

.resume-box {
  grid-column: 5 / 6;
  grid-row: 3 / 4;
  position: relative;

}

.thanks-box {
  grid-column: 3 / 6;
  grid-row: 4 / 5;
  position: relative;
}

.thanks-box h2 {
  font-size: 280%;
}

.url-logo:hover {
  width: 33.825px;
  height: 33.825px;
}

.git-logo:hover {
  width: 82.5px;
  height: 33.825px;
}

.footer {
  grid-area: footer;
  background-color: #00171f;
  width: 100%;
  height: 100%;
}

.icon-wrapper {
  grid-column: 4 / 5;
  grid-row: 6 / 7;
  align-self: start;
  justify-self: center;
}


.icon-wrapper i {
  font-size: 36px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}

.icon-wrapper a {
  color: white;
}

.copyright-box {
  grid-column: 4 / 5;
  grid-row: 6 / 7;
  align-self: end;
  justify-self: center;
  text-align: center;
}



@media screen and (max-width: 1500px) {

  .projects-grid, .contact-grid, .about-grid {
    grid-template-columns: 1fr 3fr 300px 300px 300px repeat(4, 1fr);
  }    
  .projects-link { 
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    justify-self: start;
  }

  .about-link {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    justify-self: center;
  }
  .contact-link {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    justify-self: end;
  }
}

@media screen and (max-width: 1024px) {

  .projects-grid, .contact-grid, .about-grid {
  grid-template-columns: 1fr 3fr repeat(3, 200px) repeat(4, 1fr);
  grid-template-rows: 250px 125px repeat(2, 267px) 75px 100px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  }

  .thumb-single {
    width: 200px;
    height: 267px;
  }

  .thumb-double {
    width: 415px;
    height: 267px;
  }

  .thumb-triple {
    width: 630px;
    height: 267px;
  }

  .name-header {
    font-size: 180%;
  }

  .text-header {
    font-size: 150%;
  }

  .projects-link {
    justify-self: end;
    align-self: start;
  }

  .about-link {
    justify-self: end;
    align-self: start;
    margin-top: 46px;
  }

  .contact-link {
    justify-self: end;
    align-self: start;
    margin-top: 76px;
  }

  .projects-box .thumb-card-single-header {
    top: 20%;
    font-size: 120%;
  }

  .projects-box .thumb-card-double-header {
    top: 20%;
    font-size: 160%;
  }

  .projects-box .thumb-text {
    top: 40%;
  }
  
  .url-logo {
    width: 23.06px;
    height: 23.06px;
    top: 7%;
  }
  
  .git-logo {
    width: 56.25px;
    height: 23.06px;
    top: 7%;

  }

  .nate-pic {
    width: 180px;
    height: auto;
    top: 5%;
    left: 5%;
    border: 1px solid #f6f7f5;
  }

  .about-box .thumb-text {
    line-height: 1.5em;
    font-size: 12px;
    top: 35%;
    width: 100%;
    left: 0;
  }

  .thumb-text.p2 {
    top: 60%;
  }

  ul.thumb-text {
    left: -5%;
    width: 100%;
    margin: 0;
  }

  .text-emph {
    font-size: 14px;
  }

  .contact-box .thumb-card-single-header {
    top: 25%;
    font-size: 120%;
  }
  .contact-box .thumb-card-double-header {
    top: 20%;
    font-size: 220%;
  }

  .contact-box i {
    top: 40%;
  }
}

@media screen and (max-width: 768px) {

  .projects-grid {
    width: 100%;
    height: 100%;
    color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 250px 40px repeat(5, 300px) 40px 100px;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    align-items: center;
    justify-items: center;
    grid-template-areas:
      "header"
      "."
      "proj1"
      "proj2"
      "proj3"
      "proj4"
      "proj5"
      "."
      "footer"
    ;
  }

  .about-grid {
    width: 100%;
    height: 100%;
    color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 250px 40px repeat(4, 300px) 40px 100px;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    align-items: center;
    justify-items: center;
    grid-template-areas:
      "header"
      "."
      "proj1"
      "proj2"
      "proj3"
      "proj4"
      "."
      "footer"
    ;
  }
  .contact-grid {
    width: 100%;
    height: 100%;
    color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 250px 40px repeat(3, 300px) 40px 100px;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    align-items: center;
    justify-items: center;
    grid-template-areas:
      "header"
      "."
      "proj1"
      "proj2"
      "proj3"
      "."
      "footer"
    ;
  }

  .thumb-box {
    width: 100%;
  }
  .thumb-single, .thumb-double, .thumb-triple {
    width: 100%;
    height: 300px;
  }

  .header {
    height: 100%;
    width: 100%;
  }
  .name-header {
    align-self: center;
    text-align: center;
    font-size: 140%;

  }

  .text-header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
    text-align: center;
    font-size: 100%;

  }
  
  .head-link {
    align-self: end;
    
  }

  .projects-link {
    grid-column: 1 / 2;
    justify-self: start;
    margin-left: 5%;
  }
  .about-link {
    grid-column: 1 / 2;
    justify-self: center;
  }
  .contact-link {
    grid-column: 1 / 2;
    justify-self: end;
    margin-right: 5%;
  }

  .celeb-thumb {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .projects-box .thumb-text {
    opacity: 1!important;
  }
  .git-logo, .single .git-logo {
    top: 33%;
    left: 50%;
    opacity: 1!important;
  }  
  .url-logo, .single .url-logo {
    top: 33%;
    left: 40%;
    opacity: 1!important;
    
  }
  .projects-box .thumb-bg {
    opacity: .8!important;
  }

  .icon-wrapper {
    grid-area: footer;
  }

  .copyright-box {
    grid-area: footer;
  }

  .natepic-box {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: start;
    width: 49%;    
  }

  .nate-pic {
    width: 90%;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
  }
  .natetext-box {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: end;
    width: 49%;
  }

  .natetext-box .thumb-card-double-header {
    font-size: 140%;
    top: 15%;
  }

  .natetext-box .p1 {
    top: 35%;
    line-height: 1.2em;
  }

  .natetext-box .p2 {
    top: 70%;
    line-height: 1.2em;
  }

  .cred-box {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    width: 100%;
  }

  .skills-box {
    grid-column: 1 / 2;
    grid-row: 5 / 6;   
    width: 100%;
 
  }

  .interests-box {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    width: 100%;
  }

  .cred-box .thumb-text {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    left: 20%;
  }

  .skills-box .thumb-text, .interests-box .thumb-text {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    left: 0%;
    list-style: none;
  }

  .email-box {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .linkedin-box {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .resume-box {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  .thanks-box {
    display: none!important;
  }



}